.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 15px 25px;
}
.button-container .ant-btn:first-child {
  margin-right: 15px;
}
.add-list-container {
  display: flex;
  margin-top: 15px;
}
.add-list-container input {
  margin-right: 15px;
}